@media (max-width: 767px) {
  .test-md {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .test-md {
    font-size: 23px;
  }
}

@media (max-width: 991px) {
  .test-less-lg {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .test-less-lg {
    font-size: 22px;
  }
}
